<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS -->
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <h1>Home Page</h1>
    <!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
    <style>
      table.GeneratedTable {
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #ffcc00;
        border-style: solid;
        color: #000000;
      }

      table.GeneratedTable td,
      table.GeneratedTable th {
        border-width: 2px;
        border-color: #ffcc00;
        border-style: solid;
        padding: 3px;
      }

      table.GeneratedTable thead {
        background-color: #ffcc00;
      }
    </style>

    <!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
    <table class="GeneratedTable">
      <thead>
        <tr>
          <th>Hot NFTs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <iframe src='https://gfycat.com/ifr/DazzlingMassiveFiddlercrab' frameborder='0' scrolling='no' allowfullscreen width='640' height='524'></iframe><p> <a href="https://gfycat.com/dazzlingmassivefiddlercrab">via Gfycat</a></p>
            </p>
          </td>
        </tr>
        <tr>
          <td><img src="<%=Hyperlink%>" alt=" "></td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
    <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/sendtrade">Send</a>
              </li>
                            <li class="nav-item">
                <a class="nav-link" href="/deleteuser">Nuke account</a>
              </li>
    <!-- Codes by Quackit.com -->
  </body>
</html>
