<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS -->
    <link rel="stylesheet" href="./styles.css" />
    <style>
      table.GeneratedTable {
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        border-width: 2px;
        border-color: #ffcc00;
        border-style: solid;
        color: #000000;
      }

      table.GeneratedTable td,
      table.GeneratedTable th {
        border-width: 2px;
        border-color: #ffcc00;
        border-style: solid;
        padding: 3px;
      }

      table.GeneratedTable thead {
        background-color: #ffcc00;
      }
    </style>
  </head>
  <body>
    <h1>Login Page</h1>
    <form action="/login" method="POST">
      <table class="GeneratedTable">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Username</td>
            <td>Password</td>
          </tr>
          <tr>
            <td><input type="text" id="Username" name="Username" /></td>
            <td><input type="text" id="Password" name="Password" /></td>
          </tr>
        </tbody>
      </table>

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
<style>
  table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    color: #000000;
  }

  table.GeneratedTable td,
  table.GeneratedTable th {
    border-width: 2px;
    border-color: #ffcc00;
    border-style: solid;
    padding: 3px;
  }

  table.GeneratedTable thead {
    background-color: #ffcc00;
  }
</style>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->

<!-- Codes by Quackit.com -->
